.nav-navbar {
   display:flex;
   justify-content:space-between; 
   border-bottom:1px solid #999;
   padding:20px 0;
   margin-bottom:20px;
   
}

.nav-navbar nav  {
    display:flex;
   justify-content:space-between; 
   width:300px;
}

.nav-navbar nav a {
    color:#000;
    text-decoration:none;
    font-size:0.9rem;

    display:flex;
    align-items:center;
}

.menu {
    font-weight:bold;
}